*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
}
.card_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    /* flex-wrap: wrap; */
    z-index: 1;
}

/* Particles */
#particle{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    filter: blur(2px);
}

.container .card{
    position: relative;
    width: 400px;
    height: 450px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}

.container .card input{
    align-items: center;
    justify-content: center;
}

.container .card .content{
    padding: 20px;
    text-align: center;
}

label, p{
    font-size: 25px;
}

input{
    font-size: 25px;
    background: #000;
    color: white;
    border-radius: 20px;
    width: 200px;
    height: 35px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    justify-content: center;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
}

button{
    font-size: 15px;
    background: #000;
    color: white;
    border-radius: 20px;
    width: 200px;
    height: 35px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    justify-content: center;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
}

h1, h2{
    user-select: none;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 22px;
}
